:root {
    --nearly-white: #F0F2F6;
    --blueish: #AAB3C7;
    --red-charmander: #F42A28;
    --bulba-green: #14A06F;
    --even-more-blue: #37A5C6;
    --brownish: #716B45;
    --bright-green: #53A063;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: Roboto, sans-serif;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
}

