.root {
    --yt-red: #FF0000;
    --white: #FFFFFF;
    --almost-black: #282828;
    --off-white: #F9F9F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    color: var(--almost-black);
}

.inline-items-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#yt-burger {
    gap: 3rem;
}

.menu {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 1;
}


#my-icon {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
}

.search-bar {
    border: solid #CCCCCC 2px;
    display: flex;
    width: 24rem;
    border-radius: 10px;
    justify-content: space-between;

    && input {
        height: 1.9rem;
        width: 14rem;
        display: inline;
        border: none;
        border-radius: 10px;

    }
}

.search-icon {
    background-color: #F9F9F9;
    border-left: solid #CCCCCC 2px;
    padding: 0.2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.watching-video {
    display: flex;
    flex-direction: column;
    width: 952px;
    gap: 16px;
    margin-left: 104px;
    margin-top: 20px;

    && iframe {
        width: 952px;
        height: 537px;
        border-radius: 0.5rem;

    }

    && h1 {
        font-weight: 600;
        font-size: 18px;
    }

    && h5{
font-weight: 600;
    }

    && p {
        color: #515151;
        font-size: 14px;
    }
}

.video-actions {
    width: 902px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-btns {
    display: flex;
    gap: 10px;
    align-items: center;

    && img {
        height: 20px;
    }

    && h4 {
        font-weight: 600;
        font-size: 14px;
    }
}

.subscribe {
    display: flex;
    flex-direction: row;
}

button {
    color: #FFFFFF;
    background-color: #cb0101;
    padding: 1rem;
    display: flex;
    align-items: center;
    border: solid crimson 1px;
    border-radius: 4px;
}

.channel-desc {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;

    && h5 {
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        margin-left: 6px;
    }

    && p {
        font-size: 10px;
        text-align: left;
        margin-right: 8px;
        color: #242222 ;

    }
}

.other-videos {
    width: 372px;
    height: auto;

    display: flex;
    position: relative;
    top: 20px;
    left: 30px;
    gap: 16px;
    flex-direction: column;
}

/*each video has 89px height and gap of 16px, total 372width on other-videos flexbox*/

.video-template {
    display: flex;
    flex-direction: row;
    height: 89px;

    width: 100%;
    gap: 16px;

    && img {
        width: 160px;
        height: 90px;
        border-radius: 12px;
    }
}

a {
    color: rgb(0, 55, 182);
}

.template-desc {
    display: flex;
    flex-direction: column;
    justify-content: baseline;

    && p {
        gap: 20px;
        font-size: 10px;
        color: #767272;
    }

    && h5 {
        font-weight: 600;
        margin-bottom: 24px;
    }
}



main {
    display: flex;
    flex-direction: row;
}